login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $dark-background;
	border-radius: $border-radius;
	z-index: 10;
	padding: $spacing-xl;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
