<div class="intro__launch game">
    <h2>Launch your game</h2>
    <div class="game__csgo">
        <img src="assets/csgo.svg" alt="csgo" /> <a onclick="start_constellation()" href="steam://run/730/">CS:GO</a>
    </div>
    <div class="game__dota">
        <img src="assets/dota.svg" alt="dota" /> <a onclick="start_constellation()" <a onclick="start_constellation()"
            href="steam://run/570/">Dota
            2</a>
    </div>
    <div class="game__tf2">
        <img src="assets/tf2.svg" alt="tf2" /> <a onclick="start_constellation()" href="steam://run/440/">Team
            Fortress 2</a>
    </div>
</div>