<h2>Pre-Calibration Settings:</h2>
<div class="pre-settings">
    <div class="pre-settings__toggles">
        <div class="toggle">
            <input id="toggle" class="toggle__input" type='checkbox' name="pure_mode_silence">
            <label class="toggle__label" for="pure_mode_silence"></label>
            <span>Silence </span>
        </div>
        <div class="toggle">
            <input id="toggle" class="toggle__input" type='checkbox' name="pure_mode_hypermode">
            <label class="toggle__label" for="pure_mode_hypermode"></label>
            <span>Constelia Hypermode</span>
        </div>
        <div class="toggle">
            <input id="toggle" class="toggle__input" type='checkbox' name="pure_mode_always_update">
            <label class="toggle__label" for="pure_mode_always_update"></label>
            <span>Download latest GUI</span>
        </div>
    </div>
    <button disabled id="start_button" onclick="start_constellation()">Loading...</button>
    <button disabled id="hwid_spoofer" onclick="fantasy_cmd(this, 'hwid_spoofer')">HWID Spoofer/Trust Factor
        Eraser</button>
    <button disabled id="reload_scripts" onclick="fantasy_cmd(this, 'reload_scripts')">Reload Lua
        Scripts</button>
    <bsutton disabled id="exit_button" onclick="fantasy_cmd(this, 'exit')">Exit</bsutton>
</div>