<div class="intro__launch welcome">
    <div class="welcome__inner">
        <div class="left">
            <div class="welcome__avatar"><img id="userAvatar" class="welcome__avatar"
                    src="https://i.imgur.com/VTAeGDp.png">
            </div>
        </div>
        <div class="right">
            <div class="welcome__profile" id="userProfile">
                <div class="welcome__user user">
                    <h4 class="user--welcome">Welcome&nbsp;</h4>
                    <div class="user--username" id="forumUsername">Username</div>
                </div>
                <div class="welcome__profile profile">
                    <div class="profile--group" id=" forumGroup">Group&nbsp;</div>
                    <div class="profile--sub" id="forumSubGroup">Subprofile</div>
                </div>
            </div>
        </div>
    </div>
</div>