$color-primary: #545399;
$color-secondary: #fff;

$dark-text: #62616a;
$light-text: #fbfbfb;
$light-text-accent: #c1c1c6;

$color-white: $light-text;

$color-blue: #519ff8;

$dark-background: #1f1d2c;
$dark-accent-background: #262836;
$dark-active-background: #262836;

$input-color: #2e303e;

$border-color: #373946;
