@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Space+Grotesk:wght@700&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Space Grotesk', sans-serif;

body,
html {
	font-family: $font-secondary;
}

h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	display: block;
	font-size: 1.17em;
	font-weight: bold;
}
