@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Space+Grotesk:wght@700&display=swap");
body,
html {
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

body {
  background-color: #403d51;
  color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fbfbfb;
}

a {
  text-decoration: none;
  color: inherit !important;
  cursor: link;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

#settings {
  transition: 250ms ease all;
  opacity: 0;
}

.wrapper {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}
.wrapper aside {
  flex: 1 0 40%;
  padding: 36px;
  background-color: #1f1d2b;
  border-radius: 16px 0 0 16px;
  height: 100vh;
}
.wrapper aside h1 {
  padding-bottom: 24px;
}
.wrapper main {
  flex: 1 0 75%;
}

.toggle {
  display: flex;
  align-items: center;
  position: relative;
}
.toggle__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.toggle__label {
  width: 36px;
  height: 21px;
  background: #2e303e;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
  box-sizing: border-box;
}
.toggle__label:after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fbfbfb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.toggle span {
  margin-left: 12px;
}

input[type=checkbox i] {
  margin: 0;
}

.toggle__input:checked + .toggle__label {
  background-color: #545399;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.toggle__input:checked + .toggle__label:after {
  left: 20px;
}

p {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

login {
  display: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: grid;
  place-items: center;
}

.loading {
  display: flex;
}

.loading .ball {
  width: 6px;
  height: 6px;
  border-radius: 0.5rem;
  transition: transform 0.3s infinite;
}

.ball + .ball {
  margin-left: 6px;
}

.loading .ball.one {
  animation: loadingBall 0.5s infinite alternate;
  background: rgba(255, 89, 41, 0.1882352941);
}

.loading .ball.two {
  animation: loadingBall2 0.5s infinite 0.2s alternate;
  background: rgba(252, 6, 81, 0.1882352941);
}

.loading .ball.three {
  animation: loadingBall3 0.5s infinite 0.35s alternate;
  background: rgba(108, 185, 68, 0.1882352941);
}

.loading .ball.four {
  animation: loadingBall4 0.5s infinite 0.5s alternate;
  background: rgba(45, 226, 250, 0.1882352941);
}

@keyframes loadingBall {
  0% {
    transform: translateY(-10px) scale(1.2);
    background: #545399;
    box-shadow: 0 0 2px #4b4a88;
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes loadingBall2 {
  0% {
    transform: translateY(-10px) scale(1.2);
    background: #fff;
    box-shadow: 0 0 2px #4b4a88;
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes loadingBall3 {
  0% {
    transform: translateY(-10px) scale(1.2);
    background: #545399;
    box-shadow: 0 0 2px #4b4a88;
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes loadingBall4 {
  0% {
    transform: translateY(-10px) scale(1.2);
    background: #fff;
    box-shadow: 0 0 2px #4b4a88;
  }
  100% {
    transform: translateY(5px);
  }
}
aside h2 {
  font-size: 24px;
  padding-bottom: 24px;
}
aside__launch a {
  color: #a6a6ab;
  font-weight: 600;
}
aside__launch img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 12px;
}
aside .toggle {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #373946;
  padding: 12px;
  transition: 250ms ease all;
  position: relative;
  min-height: 48px;
  max-height: 48px;
  padding: 0;
  position: relative;
}
aside .toggle:before {
  content: "";
  height: 48px;
  width: 3px;
  background-color: transparent;
  left: 0;
}
aside .toggle:first-child {
  border-top: 1px solid #373946;
}
aside .toggle:hover {
  background: #403d51;
}
aside .toggle:hover:before {
  background-color: #545399;
}
aside .toggle:hover:after {
  opacity: 1;
}

.pre-settings .outer {
  display: flex;
  align-items: center;
  padding: 0 36px;
}
.pre-settings__toggles {
  margin: 0 -36px 24px -36px;
}
.pre-settings__functions .buttons {
  display: flex;
  flex-direction: column;
}
.pre-settings__functions .buttons button {
  border: none;
  color: #fbfbfb;
  padding: 8px;
}

.game__csgo,
.game__dota,
.game__tf2,
.buttons button {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 12px;
  background-color: #262836;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600px;
  overflow: hidden;
  position: relative;
}
.game__csgo:last-child,
.game__dota:last-child,
.game__tf2:last-child,
.buttons button:last-child {
  margin-bottom: 24px;
}
.game__csgo:after,
.game__dota:after,
.game__tf2:after,
.buttons button:after {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.game__csgo:before,
.game__dota:before,
.game__tf2:before,
.buttons button:before {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.game__csgo:hover:after,
.game__dota:hover:after,
.game__tf2:hover:after,
.buttons button:hover:after {
  animation: bgcard 1s;
  opacity: 0.3;
  display: blocck;
  scale: 10;
}
.game__csgo:hover:before,
.game__dota:hover:before,
.game__tf2:hover:before,
.buttons button:hover:before {
  animation: bgcardTwo 1s 15ms;
  opacity: 0.3;
  display: block;
  scale: 10;
}
.game__csgo:hover img,
.game__dota:hover img,
.game__tf2:hover img,
.buttons button:hover img {
  animation: rotate 1s infinite ease-in-out;
}
.game__csgo img,
.game__dota img,
.game__tf2 img,
.buttons button img {
  scale: 0.7;
  padding-right: 12px;
}

user .welcome {
  padding-bottom: 24px;
}
user .welcome__inner {
  display: flex;
  align-items: center;
}
user .welcome #userProfile {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
user .welcome__avatar {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: red;
  margin-right: 12px;
}
user .welcome .user {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
user .welcome .user--welcome {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
}
user .welcome .user--username {
  color: #fbfbfb;
  font-size: 18px;
}
user .welcome .profile {
  display: flex;
  font-size: 16px;
  color: #75747c;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  text-transform: lowercase;
}
login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1d2b;
  border-radius: 16px;
  z-index: 10;
  padding: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes cardHover {
  0% {
    background: #fbfbfb;
  }
  100% {
    transform: rotate(25deg);
  }
}
@keyframes cardHoverTwo {
  0% {
    background: #545399;
    transform: skew(15deg);
    scale: 0.3;
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes rotate {
  0% {
    scale: 0.7;
    transform: rotate(0deg);
  }
  25% {
    scale: 0.7;
  }
  45% {
    scale: 0.735;
  }
  65% {
    scale: 0.77;
  }
  100% {
    scale: 0.7;
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */